h1 {
    font-size:75px;
    color:#1a1385;
}
h2 {
    font-size:25px;
    color:#1a1385;
}
a{
    color:#929294;
}
a:hover {
color: #ffc200;
}
p{
  font-size:14px;
    color:#929294;  
}
.Everyfuckingday{
width: 200px;
height: 75px; 
display: block;}
