h1 {
    font-size:75px;
    color:#1a1385;
    margin-left: 50px;
    margin-top:200px;
    line-height: 0px;
}
h2 {
    font-size:25px;
    color:#1a1385;
    margin-left:50px;
    margin-right: 200px;

}
a{
    color:#929294;
}
a:hover {
color: #ffc200;
}
p{
  font-size:24px;
    color:#929294;  
}
img{
{ width: 400px; height: 400px; object-fit: contain; margin: center }
