
.gallery{
    display: inline-block;
    border: 1px solid;
    margin: 5px;
    width: 500px;
}
.gallery .description{
     font-size: 20px;
     color:#1a1385;
    font-family: Arial;
}
 .gallery img{
     width: 100%;
         height: auto;
 }
h1 {
    font-size:75px;
     color:#1a1385;
    margin-left: 10px;
    margin-top:100px;
    line-height: 0px;
    font-family: Arial;
}
h2{
    text-size: 25px;
    color:#929294;
    margin-left: 100px;
    text-decoration: none;
    font-family: Arial;
}
a{
    color:#929294;
    text-decoration: none;
}
a:hover {
color: color:#1a1385;
} 
