.hero{
    border: 1px solid;
    margin: 5px;
    width: 800px;
}
.hero .description{
     font-size: 30px;
     color:#1a1385;
    font-family: Arial;
}

.gallery{
    display: inline-block;
    border: 1px solid;
    margin: 5px;
    width: 300px;
}
.gallery .description{
     font-size: 20px;
     color:#1a1385;
    font-family: Arial;
}
 .gallery img{
     width: 100%;
         height: auto;
 }
h1 {
    font-size:75px;
     color:#929294;
    margin-left: 50px;
    margin-top:100px;
    line-height: 0px;
}
h2 {
    font-size:25px;
    color:#1a1385;
    margin-left:50px;
    margin-right: 175px;

}
a{
    color:#929294;
    margin-left: 50px;
    text-decoration: none;
    font-family: Arial;
}
a:hover {
color: #ffc200;
text-decoration: none;
}
  
