Img { width: 400px; height: 400px; object-fit: contain; margin-top: 100px; line-height: 0px; margin-left:50px }
h1 {
    font-size:75px;
    color:#929294;
    margin-left: 50px;
    margin-top:100px;
    line-height: 0px;
    font-family: Arial;
}
h2{
    text-size: 25px;
    color:#929294;
    margin-left: 100px;
    text-decoration: none;
    font-family: Arial;
}
a:hover {
color: #ffc200;
text-decoration: none;
}
